.form {
  width: 100%;
}
.form__text {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;

  color: var(--main-text-color);

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.form__input {
  width: 100%;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field {
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus,
.form__input:hover {
  cursor: pointer;
}
.form__input:focus {
  border: 1px solid var(--logo-color);
}
.form__input:focus + .form__icon {
  fill: var(--logo-color);
}
.form__input:hover + .form__icon {
  fill: var(--logo-color);
}

.form__label {
  margin-bottom: 4px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--second-text-color);
}

.form__area {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  color: inherit;
  font-size: 12px;
  line-height: 1.14;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__area:focus {
  border: 1px solid var(--logo-color);
}
.form__area:focus,
.form__area:hover {
  cursor: pointer;
}
.form__area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* checkbox */

.form__checkbox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}
.form__input-checkbox {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  &:checked + .form__icon-checkbox {
    width: 16px;
    height: 15px;
    content: "";
    background-color: var(--logo-color);
    background-image: url(../images/icons/check.svg);
  }
}

.form__icon-checkbox {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  background-image: url(../images/icons/checkbox.svg);
}

.form__label-checkbox {
  padding-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--second-text-color);

  @media screen and (min-width: 480px) {
    padding-left: 16px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 8px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__link-checkbox {
  display: inline-block;
  text-decoration-line: underline;
  color: var(--logo-color);
}

.form__button_submit {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
