.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  @media screen and (max-width: 1999.98px) {
    margin-left: 88px;
  }
}

.navigation__list:not(:last-child) {
  margin-right: 50px;
}
