:root {
  --logo-color: #2196f3;
  --logo-sec-color: #000000;
  --main-text-color: #212121;
  --section-bcg-color: #2f303a;
  --second-text-color: #757575;
  --other-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --title-font: "Raleway", sans-serif;
}
